@import "variables";

.splash-modal {
    position: fixed;
    top: 0.5rem;
    right: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: fit-content;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    background: #fff;

    &__content {
        display: flex;

        &-icon {
            background-color: $green;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2rem;
            padding: 1rem 2.5rem;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        padding: 1rem 3rem 1rem 1rem;

        &-title {
            font-size: 1.5rem;
            font-weight: 600;
        }

        &-list {
            display: flex;
            flex-direction: column;
        }

        &-item {
            display: flex;
            gap: 0.5rem;

            &-label {
                font-weight: 500;
            }

            &-value {
                color: $shadow;
            }
        }
    }


    &.animate-fade-in-scale {
        opacity: 0;
        transform: scale(0.95);
        animation: fadeInScale 0.3s forwards;
    }
}




@keyframes fadeInScale {
    to {
        opacity: 1;
        transform: scale(1);
    }
}